extends layout

block content
  h1= title
  p Welcome to #{title}. My name is Raavi Adithyakrishna.
  - let results=[{Heroines_name:"Miakhalifa",Heroines_color:"White",Heroines_cost:"160000"},{Heroines_name:"Kajalagarwal",Heroines_color:"white mixed with black",Heroines_cost:"200000"},{Heroines_name:"zennifer Lawrence",Heroines_color:"milky white",Heroines_cost:"250000"}]
  div(class="container-fluid")
    div(class="row")
      each heroines, index in results
        div(class="col-sm-2" onclick=`buy(${index+1})`) #{heroines.Heroines_name} - #{heroines.Heroines_color} - $#{heroines.Heroines_cost}

script.
  function buy(index){
    alert(`You purchased item ${index}`);
  }